<!DOCTYPE html>
<html>
<head>
    <title>Книги {{ author }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Книги автора: {{ author }}</h1>

    {% if books %}
    <table class="customTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>Книг этого автора нет в базе.</h2>
    {% endif %}

    <a href="{{ url_for('all_books') }}">← Назад к списку всех книг</a>
</body>
</html>
